<div class="nav-container">
    <a id="top"></a>
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a class="logo-wrap" href="javascript:">
                    <span class="logo logo-light"></span>
                    <span class="logo logo-dark"></span>
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="#home">
                                Home
                            </a>

                        </li>
                        <li>
                            <a href="#chi-siamo">
                                Chi siamo
                            </a>

                        </li>
                        <li>
                            <a href="#portfolio">
                                Portfolio
                            </a>

                        </li>
                        <li>
                            <a href="#servizi">
                                Servizi
                            </a>

                        </li>
                        <li>
                            <a href="#tecnologie">
                                Tecnologie
                            </a>
                        </li>
                        <li>
                            <a href="#contatti">
                                Contatti
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>