<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <h4 class="uppercase">Informazioni e Preventivi</h4>
                <p>
                    Utilizza il form per chiedere un preventivo, oppure chiamaci per avere maggiori informazioni sui
                    nostri servizi.
                </p>
                <hr>
                <p>
                    <br>
                    <strong>Indirizzo:</strong>
                    Bari, Italia - 70128
                    <br>
                    <strong>Mail:</strong>
                    <a data-js="mail-decode" href="aGV5QGNvZGV6aWxsYS5pdA==">
                        hey
                        <i class="fake-snail"></i>
                        codezilla.it
                    </a>
                    <br>
                    <strong>Tel:</strong>
                    +340 4046834
                    <br>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-md-offset-1">
                <form id="contact-form" class="form-email">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <input type="text" required name="name" placeholder="Nome">
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <input type="text" required name="surname" placeholder="Cognome">
                        </div>
                    </div>

                    <input type="email" required name="email" placeholder="Il tuo indirizzo e-mail">
                    <textarea required name="message" rows="4" placeholder="Messaggio"></textarea>
                    <input type="submit" value="Invia">

                    <!--<input type="hidden" name="_next" value="//codezilla.it">-->
                    <input type="text" name="_gotcha" class="hide">
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
