<section class="pre-footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="uppercase mb16">Text Inputs</h4>
                <p class="lead mb64">
                    Inputs will span their entire parent by default.
                </p>
                <input type="text" placeholder="Input with Placeholder"/>
                <input type="password" placeholder="Password Input"/>
                <textarea placeholder="Textarea" rows="3"></textarea>
                <div class="input-with-label text-left">
                    <span>Input With Outer Label:</span>
                    <input type="text"/>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="uppercase mb16">Option Inputs</h4>
                <p class="lead mb64">
                    An array of tastefully styled options to make forms more inviting.
                </p>

                <div class="select-option">
                    <i class="ti-angle-down"></i>
                    <select>
                        <option selected value="Default">Select An Option</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Larger">Large</option>
                    </select>
                </div>
                <!--end select-->
                <form class="mb24">
                    <span>Would you like to hear about checkboxes?</span>
                    <div class="checkbox-option pull-right">
                        <div class="inner"></div>
                        <input type="checkbox" name="checkbox" value="Checkbox"/>
                    </div>
                </form>
                <hr>
                <form>
                    <h5 class="uppercase">Sign-up to mailing list?</h5>

                    <div>
                        <div class="radio-option checked">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1"/>
                        </div>
                        <span>Yes</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1"/>
                        </div>
                        <span>No</span>
                    </div>
                    <div>
                        <div class="radio-option">
                            <div class="inner"></div>
                            <input type="radio" name="radio" value="radio1"/>
                        </div>
                        <span>Maybe</span>
                    </div>
                </form>
                <input type="submit" value="Submit Button"/>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>