<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h4 class="uppercase">Get In Touch</h4>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                </p>
                <hr>
                <p>
                    438 Marine Parade
                    <br> Elwood, Victoria
                    <br> P.O Box 3184
                </p>
                <hr>
                <p>
                    <strong>E:</strong> hello@foundry.net
                    <br>
                    <strong>P:</strong> +614 3948 2726
                    <br>
                </p>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form class="form-email" action="//formspree.io/andrea@codezilla.it" method="post">
                    <input type="text" required name="name" placeholder="Nome e cognome">
                    <input type="text" required name="email" placeholder="Il tuo indirizzo eMail">
                    <textarea required name="message" rows="4" placeholder="Messaggio"></textarea>
                    <input type="submit" value="Invia">

                    <input type="hidden" name="_next" value="//www.google.it" />
                    <input type="text" name="_gotcha" style="display:none" />
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
