<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb16">The Right Plan For You</h3>
                <p class="lead mb64">
                    Foundry is your complete design toolkit, built from the ground up
                    <br/>
                    to be flexible, extensible and stylish.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 text-center">
                    <h5 class="uppercase">Starter</h5>
                    <span class="price">$12</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-lg btn-filled" data-js="contacts" href="#contacts">Contattaci</a>
                    <ul>
                        <li>
                            <strong>10</strong>
                            unique logins
                        </li>
                        <li>
                            <strong>Fully Secure</strong>
                            online backup
                        </li>
                        <li>
                            <strong>One Year</strong>
                            round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong>
                            complimentary lanyard
                        </li>
                    </ul>
                </div>
                <!--end of pricing table-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 boxed text-center">
                    <h5 class="uppercase">Value</h5>
                    <span class="price">$25</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-lg btn-filled" data-js="contacts" href="#contacts">Contattaci</a>
                    <ul>
                        <li>
                            <strong>50</strong>
                            unique logins
                        </li>
                        <li>
                            <strong>Fully Secure</strong>
                            online backup
                        </li>
                        <li>
                            <strong>Unlimited</strong>
                            round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong>
                            complimentary lanyard
                        </li>
                    </ul>
                </div>
                <!--end of pricing table-->
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-table pt-2 text-center">
                    <h5 class="uppercase">Enterprise</h5>
                    <span class="price">$99</span>
                    <p class="lead">Per Month</p>
                    <a class="btn btn-lg btn-filled" data-js="contacts" href="#contacts">Contattaci</a>
                    <ul>
                        <li>
                            <strong>250</strong>
                            unique logins
                        </li>
                        <li>
                            <strong>Fully Secure</strong>
                            online backup
                        </li>
                        <li>
                            <strong>One Year</strong>
                            round the clock support
                        </li>
                        <li>
                            <strong>FREE</strong>
                            complimentary lanyard
                        </li>
                    </ul>
                </div>
                <!--end of pricing table-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>